STRIPE_SECRET_KEY=sk_test_your_key_here
SANDORM_PRICE_ID=price_sandorm_usd_here
GOLDFISH_PRICE_ID=price_goldfish_usd_here
OCTOPUS_JAR_PRICE_ID=price_octopus_jar_usd_here
CLIENT_URL=http://localhost:5173
SERVER_PORT=4242
